[Unit]
Description=nerys-monolith
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=nery-monolith
DynamicUser=true
AmbientCapabilities=CAP_NET_BIND_SERVICE
Nice=5
StateDirectory=nerys-monolith
ExecStart=/usr/local/bin/nerys-monolith serve \
    -http.plain private:80 \
    -http.tls public:443 \
    -tls.acme \
    -tls.acme.dir /var/lib/nerys-monolith/tls-acme \
    -tls.acme.url https://acme-v02.api.letsencrypt.org/directory

[Install]
WantedBy=multi-user.target
