# https://gerrit-review.googlesource.com/Documentation/config-gerrit.html

[auth]
    # basic auth handled by gateway
    type = HTTP
    emailFormat = '{0}@example.com'

[cache]
    directory = cache

[container]
    user = root

[database]
    type = 

[gerrit]
    basePath = gerrit
    defaultBranch = refs/heads/main
    canonicalWebUrl = https://gerrit.liao.dev

[httpd]
    listenUrl = proxy-http://*:8080

[sshd]
    listenAddress = *:29418
